<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-12 text-center social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5" title="{{ item.title }}" target="_blank"><i class="{% if item.icon == 'scholar' %}ai ai-google-scholar{% else %}fab fa-{{ item.icon }}{% endif %}"></i></a>
      {% endfor %}
    </div>
    <div class="col-md-12 text-center mt-3">
      <small class="text-muted">Last updated: May 2026</small>
    </div>
  </div>
  <script>
    document.addEventListener('click', function(e) {
      var target = e.target.closest('a');
      if (target && target.hostname !== window.location.hostname && target.hostname !== '') {
        gtag('event', 'outbound_click', {
          'event_category': 'outbound',
          'event_label': target.hostname
        });
      }
    });
  </script>
</footer>
